<h1>Collections <small>list of all collections</small></h1>

<%= link_to 'New Collection', new_collection_path, class: 'btn btn-primary' %>

<%= link_to 'Albums', collections_path(q: { type_eq: 'Album', s: 'weight desc' }), class: 'btn' %>
<%= link_to 'Events', collections_path(q: { type_eq: 'Event', s: 'weight desc' }), class: 'btn' %>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link @q, :id %></th>
      <th><%= sort_link @q, :type %></th>
      <th><%= sort_link @q, :title %></th>
      <th><%= sort_link @q, :is_visible %></th>
      <th><%= sort_link @q, :is_upload_to_stock %></th>
      <th><%= sort_link @q, :weight %></th>
      <th>Images</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.id %></td>
        <td><%= collection.type %></td>
        <td>
          <%= link_to collection.title, collection_path(collection) %><br/>
          <%= collection.description %><br/>
        </td>
        <td>
          <% if collection.is_hidden? %>
            <span class="label label-important">hidden</span>
          <% else %>
            visible
          <% end %>
        </td>
        <td>
          <% if collection.is_upload_to_stock? %>
            <span class="label label-important">yes</span>
          <% else %>
            no
          <% end %>
        </td>
        <td><%= collection.weight %></td>
        <td><%= collection.images.size %></td>
        <td>
          <p>
            <%= link_to 'Edit', edit_collection_path(collection), class: 'btn btn-primary' %>
            <%= link_to 'Delete', collection_path(collection), class: 'btn', method: 'delete', data: { confirm: 'Delete collection ?' } %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
  <thead>
    <tr>
      <th><%= sort_link @q, :id %></th>
      <th><%= sort_link @q, :type %></th>
      <th><%= sort_link @q, :title %></th>
      <th><%= sort_link @q, :is_visible %></th>
      <th><%= sort_link @q, :is_upload_to_stock %></th>
      <th><%= sort_link @q, :weight %></th>
      <th>Images</th>
      <th>Actions</th>
    </tr>
  </thead>
</table>
