<div class="container">
  <% if Rails.env.production? %>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = '<%= SITE[:disqus_shortname] %>';
        var disqus_identifier = '<%= id %>';
        var disqus_url = '<%= url %>';
        var disqus_developer = '<%= SITE[:disqus_developer] %>';
        (function () {
          var dsq = document.createElement('script');
          dsq.type = 'text/javascript';
          dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the
        <a href="http://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  <% else %>
    Disqus comments for <%= id %> are enabled in production.
  <% end %>
</div>
