<% content_for :breadcrumb do %>
  <% if params[:q] %>
    <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
    <li class="active"><%= params[:q][:title_or_desc_or_category_title_cont] %></li>
  <% else %>
    <li class="active">Home</li>
  <% end %>
<% end %>

<h1>Welcome <small>the latest works</small></h1>

<ul class="thumbnails">
  <% @images.each do |image| %>
    <li class="span4">
      <div class="thumbnail">
        <div class="caption">
          <h5><%= image.title || 'Untitled' %></h5>
        </div>
        <%= link_to image.asset.url do
              image_tag image.asset_url_resolved(:span4)
        end %>
        <div class="caption">
          <p><%= truncate(h(image.desc || 'No description'), {:length => 500, :separator => ' ', :omission => " ..."}) %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate @images %>
