<h1>
  <%= link_to 'Edit', edit_setting_path(@setting), class: 'btn btn-primary' if @setting.persisted? %>
  <%= @setting.env.capitalize %> Setting
</h1>

<table class="table">
  <tr>
    <th>Param</th>
    <th>Value</th>
  </tr>
  <% @setting.attributes.each do |attr| %>
    <tr>
      <td><%= attr[0] %></td>
      <td>
        <% if %w[contact_text contact_text_ua].include?(attr[0]) %>
          <%= highlight_links(attr[1]).html_safe %>
        <% else %>
          <%= attr[1] %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
