<%= simple_form_for @project,
                    as: :project,
                    url: (@project.new_record? ? projects_path : project_path(@project)),
                    html: {class: 'form-inline'} do |f| %>
  <%= f.input :title %>
  <%= f.input :title_ru %>
  <%= f.input :info, input_html: {rows: 2, cols: 40, class: 'input-xxlarge'} %>
  <%= f.input :info_ru, input_html: {rows: 2, cols: 40, class: 'input-xxlarge'} %>
  <%= f.input :description, input_html: {rows: 5, cols: 40, class: 'input-xxlarge'} %>
  <%= f.input :description_ru, input_html: {rows: 5, cols: 40, class: 'input-xxlarge'} %>
  <%= f.input :is_published, as: :boolean, label: 'Published?' %>
  <%= f.input :weight %>

  <%= f.button :submit, class: 'btn-primary' %>

  <h3>Photos <small>added after Project is created</small></h3>

  <ul class="thumbnails">
    <% if @project.persisted? %>
      <%= f.simple_fields_for :photos do |pf| %>
        <li class="span12">
          <div class="thumbnail">
            <% if pf.object && pf.object.asset? %>
              <div class="control-group">
                <div class="controls">
                  <%= link_to image_tag(pf.object.asset.url(:span2)), pf.object.asset.url(:big) %>
                </div>
              </div>
            <% else %>
              <h3>New Photo</h3>
            <% end %>

            <%= pf.input :asset, as: :file %>
            <%= pf.input :asset_cache, as: :hidden %>
            <%= pf.input :desc, input_html: {rows: 1, cols: 40, class: 'input-xxlarge'}, label: 'Description' %>
            <%= pf.input :desc_ru, input_html: {rows: 1, cols: 40, class: 'input-xxlarge'}, label: 'Description' %>
            <%= pf.input :is_cover, as: :boolean, label: 'Cover photo?' %>
            <%= pf.input :weight %>

            <% if pf.object.persisted? %>
              <%= link_to 'Delete', photo_path(pf.object), class: 'btn', method: 'delete', data: {confirm: 'Delete photo?'} %>
            <% end %>
          </div>
        </li>
      <% end %>

      <%= f.button :submit, class: 'btn-primary' %>
    <% end %>
  </ul>

<% end %>
