<h1>
  <%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>

  Projects
  <small>list of all projects</small>
</h1>

<table class="table">
  <thead>
  <tr>
    <th><%= sort_link @q, :id %></th>
    <th>Picture</th>
    <th>About</th>
    <th><%= sort_link @q, :weight %></th>
    <th><%= sort_link @q, :created_at %></th>
    <th><%= sort_link @q, :is_published %></th>
    <th>Photos</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @projects.each do |project| %>
    <tr>
      <td>
        <%= link_to project.id, project_path(project) %>
      </td>
      <td>
        <% if project.cover_photo %>
          <%= link_to(project_path(project), class: 'thumbnail span2') do
            image_tag(project.cover_photo.asset.url(:span2))
          end %>
        <% end %>
      </td>
      <td>
        <p><%= link_to project.title, project_path(project) %></p>
        <p><%= highlight_links(project.info).html_safe %></p>
      </td>
      <td>
        <%= project.weight %>
      </td>
      <td>
        <%= project.created_at.strftime('%d %b %Y') %>
      </td>
      <td>
        <%= project.is_published? ? 'yes' : 'no' %>
      </td>
      <td>
        <%= project.photos.count %>
      </td>
      <td>
        <p>
          <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-primary' %>
          <%= link_to 'Delete', project_path(project), class: 'btn', method: 'delete', data: {confirm: 'Delete project ?'} %>
        </p>
      </td>
    </tr>
  <% end %>
  </tbody>
  <thead>
  <tr>
    <th><%= sort_link @q, :id %></th>
    <th>Picture</th>
    <th>About</th>
    <th><%= sort_link @q, :weight %></th>
    <th><%= sort_link @q, :created_at %></th>
    <th><%= sort_link @q, :is_published %></th>
    <th>Photos</th>
    <th>Actions</th>
  </tr>
  </thead>
</table>
