<%= paginate @projects %>

<ul class="thumbnails">
  <% @projects.each do |project| %>
    <li class="span12">
      <h2>
        <%= link_to get_local_value(I18n.locale, {en: project.title, ua: project.title_ua}), project_url(project) %>
        <small><%= (I18n.t 'activerecord.models.project').downcase %></small>
      </h2>

      <div class="row">
        <div class="span3">
          <% if project.cover_photo %>
            <%= link_to(project_path(project), class: 'thumbnail span2') do
              image_tag(project.cover_photo.asset.url(:span2))
            end %>
          <% end %>
        </div>
        <div class="span9">
          <p><%= highlight_links(get_local_value(I18n.locale, {en: project.info, ua: project.info_ua})).html_safe %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate @projects %>

<%= render 'home/contacts_block' %>
