<% content_for(:title) { get_local_value(I18n.locale, {en: @project.title, ua: @project.title_ua}) } %>

<h1>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary' %>
  <% end %>

  <%= get_local_value(I18n.locale, {en: @project.title, ua: @project.title_ua}) %>
  <small>project</small>
</h1>

<p><%= highlight_links(get_local_value(I18n.locale, {en: @project.description, ua: @project.description_ua})).html_safe %></p>

<%= render 'photos/gallery', photos: @project.photos.ordered %>

<%= render 'home/contacts_block' %>

<%= render 'shared/disqus_comments', id: "project_#{@project.id}", url: project_url(@project) %>
