<h1>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary' %>
  <% end %>

  <%= @project.title %>
  <small>project</small>
</h1>

<% if @project.description %>
  <p><%= @project.description %></p>
<% end %>

<%= render 'photos/gallery', photos: @project.photos %>

<div class="container">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = '<%= SITE[:disqus_shortname] %>';
    var disqus_identifier = '<%= "project_#{@project.id}" %>';
    var disqus_url = '<%= project_url(@project) %>';
    var disqus_developer = '<%= SITE[:disqus_developer] %>';
    (function () {
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the
    <a href="http://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
