<h1>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-primary' %>
  <% end %>

  <%= @project.title %>
  <small>project</small>
</h1>

<% if @project.description %>
  <p><%= @project.description %></p>
<% end %>

<%= render 'photos/gallery', photos: @project.photos %>

<%= render 'shared/disqus_comments', id: "project_#{@project.id}" %>
