<% if user_signed_in? %>
  <%= link_to 'New album', new_album_path, :class => 'btn btn-primary' %>
<% end %>

<ul class="thumbnails">
  <% @albums.each do |album| %>
    <% if album.images && album.images.first %>
      <li class="span3">
        <div>
          <div class="caption">
            <h3><%= album.title %></h3>
          </div>
          <%= link_to(album_path(album.id), :class => 'thumbnail') do
                image_tag album.images.first.asset.url(:span3)
          end %>
          <div class="caption">
            <% if user_signed_in? %>
              <p>
                <%= link_to 'Edit album', edit_album_path(album), :class => 'btn btn-primary' %>
                <%= link_to 'Delete album', album_path(album), :class => 'btn', :method => 'delete', :confirm => 'Delete album?' %>
              </p>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
