<%= semantic_form_for(@post, :html => {:novalidate => true}) do |f| %>
  <table>
    <tr>
      <td style="width: 400px;">
        <div class="">
          <div class="">
            <h3>Post Details</h3>
          </div>
          <div class="">
            <%= f.semantic_errors %>

            <%= f.inputs do %>
              <%= f.input :title, :label => "Title<br>".html_safe, :required => true %>
              <%= f.input :body, :label => "Body<br>".html_safe %>
              <%= f.input :category, :as => :select, :collection => Category.all, :label => "Category<br>".html_safe, :include_blank => false %>
              <%= f.input :is_published, :label => "Post Published" %>
            <% end %>
          </div>
        </div>
      </td>
      <td>
        <div class="">
          <div class="">
            <h3>Images</h3>
          </div>
          <div class="">
            <%= f.semantic_fields_for :images do |image| %>
              <%= render "shared/image_fields", :f => image  %>
            <% end %>

            <%= link_to_add_fields content_tag(:button, "Add Image", :class => ''), f, :images, :class => 'add-image-form-button' %>
          </div>
        </div>
      </td>
    </tr>
  </table>

  <div class="">
    <%= f.actions  do %>
      <%= f.action :submit, :as => :button, :button_html => { :class => 'form-button' } %>
    <% end %>
  </div>
<% end %>