<%= content_for :title do
 "#{@post.try(:title)} - #{@post.try(:category).try(:title)}"
end %>

<li class="post">
  <h2><%= link_to @post.title, post_path(@post) %></h2>
  <div>
    <%= RedCloth.new(@post.body_intro).to_html.html_safe %>
  </div>
  <div>
    Created on <%= @post.created_at.strftime('%H:%M %d-%m-%Y')%>
  </div>

  <!-- TODO: carousel -->
  <div class="">
    <%= render :partial => 'images/image', :collection => @post.images %>
  </div>

  <div>
    <%= link_to 'Edit', edit_post_path(@post) %>
  </div>
</li>


