<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>

<div>
  <%= image_tag @post.image_url(:thumb).to_s %>
</div>

<div>
  <%= RedCloth.new(@post.body).to_html.html_safe %>
</div>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
