<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">Categories</li>
<% end %>

<h1>Categories <small>Chose the one you like</small></h1>

<% if user_signed_in? %>
  <%= link_to 'New category', new_category_path, :class => 'btn btn-primary' %>
<% end %>

<ul class="thumbnails">
  <% @categories.each do |category| %>
    <% if category.images && category.images.first %>
      <li class="span3">
        <div>
          <div class="caption">
            <h3><%= category.title %></h5>
          </div>
          <%= link_to(category_path(category.id), :class => 'thumbnail') do
                image_tag category.images.first.asset.url(:span4)
          end %>
          <div class="caption">
            <% if user_signed_in? %>
              <p>
                <%= link_to 'Edit category', edit_category_path(category), :class => 'btn btn-primary' %>
                <%= link_to 'Delete category', category_path(category), :class => 'btn', :method => 'delete', :confirm => 'Delete category?' %>
              </p>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
