<%= simple_form_for @image, html: { class: 'form-inline' } do |f| %>
  <div class="well">
    <% if f.object.asset? %>
      <div class="control-group">
        <div class="controls">
          <%= link_to image_tag(f.object.asset.url(:span2)), f.object.asset.url(:big) %>
        </div>
      </div>
    <% end %>
    <%= f.input :asset, as: :file, required: !f.object.asset? %>
    <%= f.input :asset_cache, as: :hidden %>
    <%= f.input :album_id, as: :select, collection: Album.all, required: true, include_blank: false %>
    <%= f.input :title, input_html: { class: 'input-xxlarge' } %>
    <%= f.input :title_ua, input_html: { class: 'input-xxlarge' } %>
    <%= f.input :desc, input_html: { rows: 2, cols: 40, class: 'input-xxlarge' }  %>
    <%= f.input :desc_ua, input_html: { rows: 2, cols: 40, class: 'input-xxlarge' }  %>
    <%= f.input :place, input_html: { class: 'input-xxlarge' } %>
    <%= f.input :place_ua, input_html: { class: 'input-xxlarge' } %>
    <%= f.input :date, as: :date, order: [:year] %>
    <%= f.input :tags_resolved, as: :text, input_html: { rows: 2, cols: 40, class: 'input-xxlarge' } %>
    <%= f.input :published_at_checkbox, as: :boolean, label: "#{I18n.t 'simple_form.labels.image.published'} #{@image.published_at.present? ? " #{@image.published_at.strftime('%H:%M %d/%m/%Y')}" : ''}" %>
    <%= f.input :flickr_photo_id, input_html: { class: 'input-xxlarge' } %>
    <%= f.input :deviantart_link, input_html: { class: 'input-xxlarge' } %>
    <%= f.input :istockphoto_link, input_html: { class: 'input-xxlarge' } %>
    <%= f.input :shutterstock_link, input_html: { class: 'input-xxlarge' } %>
    <%= f.input :is_for_sale %>
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
