<%= simple_form_for @image, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :album_id, :as => :select, :collection => Album.all, :required => true, :include_blank => false %>

  <% if f.object.asset? %>
    <div>
      <br>
      <%= link_to image_tag(f.object.asset.url(:span2)), f.object.asset.url(:big) %>
      <br>
      <br>
    </div>
  <% end %>

  <%= f.input :asset, :as => :file, :required => !f.object.asset? %>
  <%= f.input :asset_cache, :as => :hidden %>

  <%= f.input :is_vertical, :as => :boolean %>

  <%= f.input :title %>
  <%= f.input :place %>
  <%= f.input :date, :as => :date, :order =>[:year] %>
  <%= f.input :published_at_checkbox, :as => :boolean, :label => "Published #{@image.published_at.present? ? "<br>#{@image.published_at.strftime("%H:%M %d/%m/%Y")}" : ""}" %>

  <%= f.input :desc, :input_html => { :rows => 3, :cols => 40 }  %>

  <%= f.button :submit, :class => 'btn-primary' %>
<% end %>
