<ul class="thumbnails">
  <% get_tags_cloud.each do |tag, count| %>
    <li>
      <h<%= [(6-count), 2].max %>>
        <%= link_to tag, root_path(:q => {Image::DEFAULT_QUERY.to_sym => tag}) %>
      </h<%= [(6-count), 2].max %>>
    </li>
  <% end %>
</ul>

<ul class="thumbnails">
  <% images.each do |image| %>
    <li class="span2">
      <div>
        <%= link_to("#img#{image.id}",
                    :class => 'thumbnail has_popover',
                    :rel => 'group',
                    :title => image.title,
                    'data-original-title' => image.title,
                    'data-content' => image.render_data) do
              image_tag(image.asset.url(:span2), :alt => image.id)
        end %>
      </div>
    </li>
  <% end %>

  <% if images.size == 0 %>
    <li class="span2">
      <h3>No images</h3>
    </li>
  <% end %>
</ul>

<%= paginate images %>

<ul class="thumbnails">
  <% images.each_with_index do |image, index| %>
    <li class="span12">
      <div class="row">
        <div class="span8">
          <a name="img<%= image.id %>"></a>
          <div class="caption">
            <strong><%= image.title %></strong>.
            <p><%= image.render_data %></p>
          </div>
          <div class="caption">
            <% unless image.tags.empty? %>
            <p>
              <% image.tags.each do |tag| %>
                <%= link_to "<i class=\"icon-tag icon-white\"> </i> #{tag}".html_safe, root_path(:q => {Image::DEFAULT_QUERY.to_sym => tag}), :class => 'label' %>
              <% end %>
            </p>
            <% end %>
          </div>
        </div>
        <div class="span4">
          <p class="pull-right">
            <%= link_to "... Comments", "#{image_url(image)}#disqus_thread", :class => 'label', 'data-disqus-identifier'=> "image_#{image.id}" %>

            <% unless index == 0%>
              <a href="#" class="label"><i class="icon-home icon-white"> </i> Back</a>
            <% end %>
          </p>
        </div>
      </div>

      <div class="">
        <%= link_to(image_url(image), :class => 'thumbnail')do
            image_tag(image.asset.url(:big), :alt => image.id)
        end %>
      </div>
      <hr>

    </li>
  <% end %>
</ul>

<%= paginate images %>
