<ul class="thumbnails">
  <% get_tags_cloud.each do |tag, count| %>
    <li>
      <h<%= [(6-count), 2].max %>>
        <%= link_to tag, root_path(:q => {:title_or_desc_or_tags_cache_or_album_title_cont => tag}) %>
      </h<%= [(6-count), 2].max %>>
    </li>
  <% end %>
</ul>

<ul class="thumbnails">
  <% images.each do |image| %>
    <li class="span2">
      <div>
        <%= link_to("#img#{image.id}",
                    :class => 'thumbnail has_popover',
                    :rel => 'group',
                    :title => (image.title? ? image.title : 'Untitled'),
                    'data-original-title' => (image.title? ? image.title : 'Untitled'),
                    'data-content' => image.render_data) do
              image_tag(image.asset.url(:span2), :alt => image.id)
        end %>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate images %>

<ul class="thumbnails">
  <% images.each_with_index do |image, index| %>
    <li class="span12">
      <a name="img<%= image.id %>"></a>
      <div class="row">
        <div class="span8">
          <div class="caption">
            <strong><%= image.title? ? image.title : 'Untitled' %></strong>.
            <%= image.render_data %>
          </div>
          <div class="caption">
            <% unless image.tags.empty? %>
            <p>
              <% image.tags.each do |tag| %>
                <%= link_to tag, root_path(:q => {:title_or_desc_or_tags_cache_or_album_title_cont => tag}), :class => 'label' %>
              <% end %>
            </p>
            <% end %>
          </div>
        </div>
        <div class="span4">
          <p class="pull-right">
            <%= link_to "#{rand(100)} Comments", '#', :class => 'label' %>
            <%= link_to 'Permanent Link', image_url(image), :class => 'label' %>
            <% unless index == 0%>
              <a href="#" class="label">Back to top ▲</a>
            <% end %>
          </p>
        </div>
      </div>

      <div class="thumbnail">
        <%= image_tag(image.asset.url(:big), :alt => image.id) %>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate images %>
