<div class="thumbnail" style="padding-left: 22px;">
  <ul class="thumbnails">
    <% images.each do |image| %>
      <li class="span" style="margin-bottom:5px;margin-left:5px;">
        <%= link_to "#img#{image.id}", rel: 'group', title: get_local_value(I18n.locale, {en: image.title, ua: image.title_ua}) do
          image_tag(image.asset.url(:span2), alt: image.id)
        end %>
      </li>
    <% end %>

    <% if images.size == 0 %>
      <li class="span2">
        <h3><%= I18n.t 'site.no_images' %></h3>
      </li>
    <% end %>
  </ul>
</div>

<%= paginate images %>

<ul class="thumbnails">
  <% images.each do |image| %>
    <li class="span12">
      <a name="img<%= image.id %>"></a>

      <h2>
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_image_path(image), class: 'btn btn-primary' %>
        <% end %>

        <%= link_to get_local_value(I18n.locale, {en: image.title, ua: image.title_ua}), image_url(image) %>

        <% if user_signed_in? %>
          <%= check_title(image) %>
        <% end %>

        <small class="pull-right"><%= get_local_value(I18n.locale, {en: image.album.title, ua: image.album.title_ua}) %></small>
      </h2>

      <div class="thumbnail">
        <%= image_tag(image.asset.url(:big), alt: image.title, title: image.title) %>
      </div>

      <div class="row">
        <p></p>

        <div class="span11">
          <p class="pull-left">
            <%= highlight_links(render_image_data(I18n.locale, image)).html_safe %>
            <% if user_signed_in? %>
              <%= check_desc(image) %>
            <% end %>

            <% unless image.tags.empty? %>
              <br/>
              <% image.tags.map(&:name).each do |tag| %>
                <%= link_to "<i class=\"icon-tag icon-white\"> </i> #{tag}".html_safe, root_path(q: {anything_like: tag}), class: 'label' %>
              <% end %>

              <% if user_signed_in? %>
                <%= check_tags(image) %>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
      <hr>
    </li>
  <% end %>
</ul>

<%= paginate images %>

<div>
  <% get_tags_cloud(images).each do |tag, count| %>
    <%= link_to tag, root_path(q: {anything_like: tag}), {style: "font-size:#{(count * 50) + 50}%;"} %>
  <% end %>
</div>
