<ul class="thumbnails">
  <% get_tags_cloud.each do |tag, count| %>
    <li>
      <h<%= [(6-count), 2].max %>>
        <%= link_to tag, root_path(:q => {:title_or_desc_or_tags_cache_or_album_title_cont => tag}) %>
      </h<%= [(6-count), 2].max %>>
    </li>
  <% end %>
</ul>

<ul class="thumbnails">
  <% images.each do |image| %>
    <li class="span2">
      <div>
        <%= link_to("#img#{image.id}",
                    :class => 'thumbnail has_popover',
                    :rel => 'group',
                    :title => (image.title? ? image.title : 'Untitled'),
                    'data-original-title' => (image.title? ? image.title : 'Untitled'),
                    'data-content' => image.render_data) do
              image_tag(image.asset.url(:span2), :alt => image.id)
        end %>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate images %>

<ul class="thumbnails">
  <% images.each_with_index do |image, index| %>
    <li class="span12">
      <div class="row">
        <div class="span8">
          <a name="img<%= image.id %>"></a>
          <div class="caption">
            <strong><%= image.title? ? image.title : 'Untitled' %></strong>.
            <p><%= image.render_data %></p>
          </div>
          <div class="caption">
            <% unless image.tags.empty? %>
            <p>
              <% image.tags.each do |tag| %>
                <%= link_to "<i class=\"icon-tag icon-white\"> </i> #{tag}".html_safe, root_path(:q => {:title_or_desc_or_tags_cache_or_album_title_cont => tag}), :class => 'label' %>
              <% end %>
            </p>
            <% end %>
          </div>
        </div>
        <div class="span4">
          <p class="pull-right">

            <%= link_to "<i class=\"icon-user icon-white\"> </i> Comments".html_safe, "#discus_modal_#{image.id}", :class => 'label', 'data-toggle' => 'modal' %>

            <%= link_to "<i class=\"icon-map-marker icon-white\"> </i> Link".html_safe, image_url(image), :class => 'label' %>

            <% unless index == 0%>
              <a href="#" class="label"><i class="icon-home icon-white"> </i> Back</a>
            <% end %>
          </p>
        </div>
      </div>

      <div class="thumbnail">
        <%= image_tag(image.asset.url(:big), :alt => image.id) %>
      </div>
      <hr>

    </li>
  <% end %>
</ul>

<%= paginate images %>

<!-- disqus data -->
<% images.each_with_index do |image, index| %>
  <%= render 'images/image_modal', :image => image %>
<% end %>
