<ul class="thumbnails">
  <% images.each do |image| %>
    <li class="span2">
      <div>
        <%= link_to("#img#{image.id}",
                    :class => 'thumbnail has_popover',
                    :rel => 'group',
                    :title => (image.title? ? image.title : 'Untitled'),
                    'data-original-title' => image.title,
                    'data-content' => render_image_data(image)) do
              image_tag(image.asset.url(:span2))
        end %>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate images %>

<ul class="thumbnails">
  <% images.each_with_index do |image, index| %>
    <li class="span12">
      <div class="caption">
        <p>
          <a name="img<%= image.id %>"></a>
          <strong><%= image.title? ? image.title : 'Untitled' %></strong>
          <%= render_image_data(image) %>
        </p>
      </div>
      <div class="thumbnail">
        <%= image_tag(image.asset.url(:big)) %>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate images %>
