<ul class="thumbnails">
  <% images.each do |image| %>
    <li class="span2">
      <div>
        <%= link_to("#img#{image.id}",
                    :class => 'thumbnail has_popover',
                    :rel => 'group',
                    :title => image.title,
                    'data-original-title' => image.title,
                    'data-content' => image.render_data) do
              image_tag(image.asset.url(:span2), :alt => image.id)
        end %>
      </div>
    </li>
  <% end %>

  <% if images.size == 0 %>
    <li class="span2">
      <h3>No images</h3>
    </li>
  <% end %>
</ul>

<%= paginate images %>

<ul class="thumbnails">
  <% images.each do |image| %>
    <li class="span12">
      <a name="img<%= image.id %>"></a>
      <h2>
        <% if user_signed_in? %>
          <%= link_to 'Edit', edit_image_path(image), :class => 'btn btn-primary' %>
        <% end %>

        <%= link_to image.title, "#{image_url(image)}" %>

        <% if user_signed_in? %>
          <% if image.title.scan(/\w+/).size < 5 %>
            <span class="label label-important">need 5 words</span>
          <% end %>
        <% end %>

        <small class="pull-right"><%= image.album.title %></small>
      </h2>

      <div class="thumbnail">
        <%= image_tag(image.asset.url(:big), :alt => image.id) %>
      </div>

      <div class="row">
        <p></p>
        <div class="span11">
          <p class="pull-left">
            <%= image.render_data %>
            <% if user_signed_in? %>
              <% if image.render_data.scan(/\w+/).size < 15 %>
                <span class="label label-important">need 2 sentences</span>
              <% end %>
            <% end %>
          </p>

          <% unless image.tags.empty? %>
            <p class="pull-left">
              <% image.tags.each do |tag| %>
                <%= link_to "<i class=\"icon-tag icon-white\"> </i> #{tag}".html_safe, root_path(:q => {Image::DEFAULT_QUERY.to_sym => tag}), :class => 'label' %>
              <% end %>

              <% if user_signed_in? %>
                <% if image.tags_resolved.count(',') < 30 %>
                  <span class="label label-important">need 30 tags, have <%= image.tags_resolved.count(',') %></span>
                <% end %>
              <% end %>
            </p>
          <% end %>
        </div>

        <div class="span1">
          <p class="pull-right">
            <%= link_to "... Comments", "#{image_url(image)}#disqus_thread", :class => 'label', 'data-disqus-identifier'=> "image_#{image.id}" %>
          </p>
        </div>
      </div>
      <hr>
    </li>
  <% end %>
</ul>

<%= paginate images %>

<div>
  <% get_tags_cloud.each do |tag, count| %>
    <%= link_to tag, root_path(:q => {Image::DEFAULT_QUERY.to_sym => tag}), {:style => "font-size:#{(count * 50) + 50}%;"} %>
  <% end %>
</div>
