<ul class="thumbnails">
  <% images.each do |image| %>
    <li class="span2">
      <div>
        <%= link_to("#img#{image.id}",
                    :class => 'thumbnail has_popover',
                    :rel => 'group',
                    :title => image.title || 'Untitled',
                    'data-original-title' => image.title,
                    'data-content' => "#{(image.desc || 'No description')}") do
              image_tag(image.asset.url(:span2))
        end %>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate images %>

<ul class="thumbnails">
  <% images.each_with_index do |image, index| %>
    <li class="span12">
      <a name="img<%= image.id %>"></a>
      <div class="caption">
        <p>
          <%= render_image_data(image) %>
      </div>
      <div class="thumbnail">
        <%= image_tag(image.asset.url(:big)) %>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate images %>
