<ul class="thumbnails">
  <% images.each do |image| %>
    <li class="span2">
      <div>
        <%= link_to("#img#{image.id}",
                    :class => 'thumbnail has_popover',
                    :rel => 'group',
                    :title => (image.title? ? image.title : 'Untitled'),
                    'data-original-title' => (image.title? ? image.title : 'Untitled'),
                    'data-content' => render_image_data(image)) do
              image_tag(image.asset.url(:span2), :alt => image.id)
        end %>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate images %>

<ul class="thumbnails">
  <% images.each_with_index do |image| %>
    <li class="span12">
      <div class="caption">
        <p class="pull-right"><a href="#" class="btn">Back to top</a></p>
        <p>
          <a name="img<%= image.id %>"></a>
          <strong><%= image.title? ? image.title : 'Untitled' %></strong>.
          <%= render_image_data(image) %>
        </p>
        <% unless image.tags.empty? %>
        <p>
          <% image.tags.each do |tag| %>
            <%= link_to tag, root_path(:q => {:title_or_desc_or_tags_cache_or_album_title_cont => tag}), :class => 'label label-info' %>
          <% end %>
        </p>
        <% end %>
        <p><%= link_to 'Permanent link', image_url(image), :class => 'btn' %></p>
      </div>
      <div class="thumbnail">
        <%= image_tag(image.asset.url(:big), :alt => image.id) %>
      </div>
    </li>
  <% end %>
</ul>

<%= paginate images %>
