<div>
  <p>
    <strong><%= image.title %></strong>.
    <%= highlight_links(image.render_data).html_safe %>
  </p>
</div>
<div>
  <%= link_to(image_url(image)) do
        image_tag(image.asset.url(:span2), alt: image.id)
  end %>
</div>
<div>
  Album: <%= link_to(image.album.title, album_url(image.album)) %>
</div>

<% unless image.tags.empty? %>
  <div>
    Tags:
    <% image.tags.each do |tag| %>
      <%= link_to tag, root_url(q: {anything_like: tag}) %>
    <% end %>
  </div>
<% end %>

<% if get_setting('flickr_user_id').present? && image.flickr_photo_id.present? %>
  <div>
    See on <%= link_to 'Flickr', "http://www.flickr.com/photos/#{get_setting('flickr_user_id')}/#{image.flickr_photo_id}" %>
  </div>
<% end %>

<div>
  All images: <%= link_to_if get_setting('flickr_user_id').present?, 'Flickr', "http://www.flickr.com/photos/#{get_setting('flickr_user_id')}/" %>
</div>


