<h1>Images <small>list of all images</small></h1>

<%= link_to 'New Image', new_image_path, :class => 'btn btn-primary' %>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link @q, :id %></th>
      <th>Thumb</th>
      <th><%= sort_link @q, :title %></th>
      <th><%= sort_link @q, :desc %></th>
      <th><%= sort_link @q, :created_at %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= link_to image.id, edit_image_path(image.id) %></td>
        <td>
          <%= link_to(edit_image_path(image.id), :class => 'thumbnail') do
            image_tag(image.asset.url(:span2))
          end %>
        <td><%= link_to image.title || 'Untitled', edit_image_path(image.id) %></td>
        <td><%= truncate(h(image.desc || 'No description'), {:length => 500, :separator => ' ', :omission => " ..."}) %></td>
        <td><%= image.created_at.strftime("%H:%M %d/%m/%Y") %></td>
        <td>
          <p>
            <%= link_to 'Edit', edit_image_path(image), :class => 'btn btn-primary' %>
            <%= link_to 'Delete', image_path(image), :class => 'btn', :method => 'delete', :confirm => 'Delete image?' %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
  <thead>
    <tr>
      <th><%= sort_link @q, :id %></th>
      <th>Thumb</th>
      <th><%= sort_link @q, :title %></th>
      <th><%= sort_link @q, :desc %></th>
      <th>Actions</th>
    </tr>
  </thead>
</table>

<%= paginate @images %>
