<h1>Images <small>list of all images</small>
  <%= link_to 'New Image', new_image_path, :class => 'btn btn-primary' %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link @q, :id %></th>
      <th>Thumb</th>
      <th><%= sort_link @q, :title %></th>
      <th>Description</th>
      <th>Tags</th>
      <th><%= sort_link @q, :created_at %></th>
      <th><%= sort_link @q, :published_at %></th>
      <th><%= sort_link @q, :uploaded_to_flickr_at %></th>
      <th>DeviantArt</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td>
          <%= link_to image.id, edit_image_path(image.id) %> <%= image.album.title %>
          <%= '(hidden)' if image.album.is_hidden %>
        </td>
        <td>
          <%= link_to(edit_image_path(image.id), :class => 'thumbnail span2') do
            image_tag(image.asset.url(:span2))
          end %>
        <td><%= link_to image.title, edit_image_path(image.id) %></td>
        <td><%= image.render_data %></td>
        <td><%= image.tags_resolved %></td>
        <td><%= image.created_at.strftime("%d/%m/%Y") %></td>
        <td>
          <% if image.published_at.present? %>
            <span class="label label-success"><%= image.published_at.strftime("%d/%m/%Y") %></span>
          <% else %>
            <span class="label label-warning">no</span>
          <% end %>
        </td>
        <td>
          <% if image.uploaded_to_flickr_at.present? %>
            <span class="label label-important"><%= link_to image.flickr_photo_id, "http://www.flickr.com/photos/#{SITE[:flickr_user_id]}/#{image.flickr_photo_id}" %></span>
            <br>
            <span class="label label-success"><%= image.uploaded_to_flickr_at.strftime("%d/%m/%Y") %></span>
          <% else %>
            <span class="label label-warning"><%= link_to 'upload', 'http://www.flickr.com/photos/upload/' %></span>
          <% end%>
        </td>
        <td>
          <% if image.deviantart_id.present? %>
            <span class="label label-important"><%= link_to image.deviantart_id, "http://www.deviantart.com/#/#{image.deviantart_id}" %></span>
          <% else %>
            <span class="label label-warning"><%= link_to 'upload', 'http://www.deviantart.com/submit/deviation' %></span>
          <% end %>
        </td>
        <td>
          <p>
            <%= link_to 'Edit', edit_image_path(image), :class => 'btn btn-primary' %>
            <%= link_to 'Delete', image_path(image), :class => 'btn', :method => 'delete', :confirm => 'Delete image?' %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
  <thead>
    <tr>
      <th><%= sort_link @q, :id %></th>
      <th>Thumb</th>
      <th><%= sort_link @q, :title %></th>
      <th>Description</th>
      <th>Tags</th>
      <th><%= sort_link @q, :created_at %></th>
      <th><%= sort_link @q, :published_at %></th>
      <th><%= sort_link @q, :uploaded_to_flickr_at %></th>
      <th>DeviantArt</th>
      <th>Actions</th>
    </tr>
  </thead>
</table>

<%= paginate @images %>
