<h1>
  <%= link_to 'New Image', new_image_path, class: 'btn btn-primary' %>
  Images
  <small>list of all images</small>
</h1>

<%= paginate @images %>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link @q, :id %></th>
      <th>Thumb</th>
      <th>Info</th>
      <th><%= sort_link @q, :created_at, 'Dates' %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td>
          <p>
            <%= link_to image.id, edit_image_path(image.id) %>
          </p>
          <p>
            <%= image.album.title %>
            <% unless image.album.is_published? %>
              <span class="label label-important">hidden</span>
            <% end %>
            <% unless image.album.is_upload_to_stock? %>
              <span class="label label-important">not uploading</span>
            <% end %>
          </p>
        </td>
        <td>
          <%= link_to(edit_image_path(image.id), class: 'thumbnail span2') do
            image_tag(image.asset.url(:span2))
          end %>
          <p class="pagination-centered"><%= "#{image.image_width}x#{image.image_height}" %></p>
        <td>
          <p>
            <strong><%= image.title %></strong>
            <%= check_title(image) %>
          </p>
          <p>
            <%= render_image_data(I18n.locale, image) %>
            <%= check_desc(image) %>
          </p>
          <p>
            <%= image.tags_resolved %>
            <%= check_tags(image) %>
          </p>
        </td>
        <td>
          <p>
            <%= time_ago_in_words(image.created_at) %> ago
          </p>
          <p>
            <% if image.published_at.present? %>
              <span class="label label-success"><%= time_ago_in_words(image.published_at) %> ago</span>
            <% else %>
              <span class="label label-warning">not published yet</span>
              <span class="label label-important">once per 30 minutes</span>
            <% end %>
          </p>
        </td>
        <td>
          <p>
            <%= link_to 'Edit', edit_image_path(image), class: 'btn btn-primary' %>
          </p>
          <p>
            <%= link_to 'Delete', image_path(image), class: 'btn', method: 'delete', data: { confirm: 'Delete image?' } %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
  <thead>
    <tr>
      <th><%= sort_link @q, :id %></th>
      <th>Thumb</th>
      <th>Info</th>
      <th><%= sort_link @q, :created_at, 'Dates' %></th>
      <th>Actions</th>
    </tr>
  </thead>
</table>

<%= paginate @images %>
