<h1>
  <%= link_to 'New Image', new_image_path, class: 'btn btn-primary' %>
  Images
  <small>list of all images</small>
</h1>

<%= paginate @images %>

<table class="table">
  <thead>
    <tr>
      <th><%= sort_link @q, :id %></th>
      <th>Thumb</th>
      <th>Info</th>
      <th><%= sort_link @q, :created_at, "Dates" %></th>
      <th>Flickr</th>
      <th>Photobanks</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td>
          <p>
            <%= link_to image.id, edit_image_path(image.id) %>
          </p>
          <p>
            <%= image.album.title %>
            <% if image.album.is_hidden %>
              <span class="label label-important">hidden</span>
            <% end %>
          </p>
          <p>
            <span class="label <%= image.is_for_sale? ? 'label-important' : '' %>"><%= image.is_for_sale? ? '' : 'Not ' %> For Sale</span>
          </p>
        </td>
        <td>
          <%= link_to(edit_image_path(image.id), class: 'thumbnail span2') do
            image_tag(image.asset.url(:span2))
          end %>
          <p class="pagination-centered"><%= "#{image.image_width}x#{image.image_height}" %></p>
        <td>
          <p>
            <strong><%= image.title %></strong>
            <%= check_title(image) %>
          </p>
          <p>
            <%= image.render_data %>
            <%= check_desc(image) %>
          </p>
          <p>
            <%= image.tags_resolved %>
            <%= check_tags(image) %>
          </p>
        </td>
        <td>
          <p>
            <%= time_ago_in_words(image.created_at) %> ago
          </p>
          <p>
            <% if image.published_at.present? %>
              <span class="label label-success"><%= time_ago_in_words(image.published_at) %> ago</span>
            <% else %>
              <span class="label label-warning">not published yet</span>
              <span class="label label-important">once per 30 minutes</span>
            <% end %>
          </p>
        </td>
        <td>
          <% if image.uploaded_to_flickr_at.present? || image.flickr_photo_id.present? %>
            <span><%= link_to image.flickr_photo_id || 'N/A', "http://www.flickr.com/photos/#{SITE[:flickr_user_id]}/#{image.flickr_photo_id}" %></span>
            <br>
            <span class="label label-success"><%= time_ago_in_words(image.uploaded_to_flickr_at) %> ago</span>
          <% else %>
            <span><%= link_to 'upload', 'http://www.flickr.com/photos/upload/' %></span>

            <% unless image.album.is_hidden %>
              <span class="label label-important">once per 6 hours</span>
            <% else %>
              <span class="label label-important">album hidden</span>
            <% end %>
          <% end%>

          <% if image.flickr_comment_time != 0 %>
            <p>Last comment <%= time_ago_in_words(Time.at(image.flickr_comment_time)) %> ago</p>
          <% end %>
        </td>
        <td>
          <p>
            DeviantArt
            <% if image.deviantart_link.present? %>
              <span><%= link_to "Browse", image.deviantart_link, target: '_blank' %></span>
            <% else %>
              <span><%= link_to 'upload', 'http://www.deviantart.com/submit/deviation' %></span>
            <% end %>
          </p>
          <p>
            iStockPhoto
            <% if image.istockphoto_link.present? %>
              <span><%= link_to "Browse", image.istockphoto_link, target: '_blank' %></span>
            <% else %>
              <span><%= link_to 'upload', 'http://istockphoto.com/' %></span>
            <% end %>
          </p>
          <p>
            ShutterStock
            <% if image.shutterstock_link.present? %>
              <span><%= link_to "Browse", image.shutterstock_link, target: '_blank' %></span>
            <% else %>
              <span><%= link_to 'upload', 'http://shutterstock.com/' %></span>
            <% end %>
          </p>
        </td>
        <td>
          <p>
            <%= link_to 'Edit', edit_image_path(image), class: 'btn btn-primary' %>
          </p>
          <p>
            <%= link_to 'Delete', image_path(image), class: 'btn', method: 'delete', data: { confirm: 'Delete image?' } %>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
  <thead>
    <tr>
      <th><%= sort_link @q, :id %></th>
      <th>Thumb</th>
      <th>Info</th>
      <th><%= sort_link @q, :created_at, "Dates" %></th>
      <th>Flickr</th>
      <th>Photobanks</th>
      <th>Actions</th>
    </tr>
  </thead>
</table>

<%= paginate @images %>
