<ul class="thumbnails">
  <li class="span12">
    <h2>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_image_path(@image), class: 'btn btn-primary' %>
      <% end %>

      <%= @image.title %>

      <% if user_signed_in? %>
        <%= check_title(@image) %>
      <% end %>

      <small class="pull-right"><%= @image.album.title %></small>
    </h2>

    <div class="thumbnail">
      <%= image_tag(@image.asset.url(:big), alt: @image.id) %>
    </div>

    <div class="row">
      <p></p>
      <div class="span11">
        <p class="pull-left">
          <%= highlight_links(@image.render_data).html_safe %>
          <% if user_signed_in? %>
            <%= check_desc(@image) %>
          <% end %>

          <% unless @image.tags.empty? %>
            <br/>
            <% @image.tags.each do |tag| %>
              <%= link_to "<i class=\"icon-tag icon-white\"> </i> #{tag}".html_safe, root_path(q: {anything_like: tag}), class: 'label' %>
            <% end %>

            <% if user_signed_in? %>
              <%= check_tags(@image) %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </li>
</ul>

<%= render 'shared/disqus_comments', id: "image_#{@image.id}", url: image_url(@image) %>
