<ul class="thumbnails">
  <li class="span12">
    <h2>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_image_path(@image), class: 'btn btn-primary' %>
      <% end %>

      <%= @image.title %>

      <% if user_signed_in? %>
        <%= check_title(@image) %>
      <% end %>

      <small class="pull-right"><%= @image.album.title %></small>
    </h2>

    <div class="thumbnail">
      <%= image_tag(@image.asset.url(:big), alt: @image.id) %>
    </div>

    <div class="row">
      <p></p>
      <div class="span11">
        <p class="pull-left">
          <%= @image.render_data %>
          <% if user_signed_in? %>
            <%= check_desc(@image) %>
          <% end %>

          <% unless @image.tags.empty? %>
            <br/>
            <% @image.tags.each do |tag| %>
              <%= link_to "<i class=\"icon-tag icon-white\"> </i> #{tag}".html_safe, root_path(q: {Image::DEFAULT_QUERY.to_sym => tag}), class: 'label' %>
            <% end %>

            <% if user_signed_in? %>
              <%= check_tags(@image) %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </li>
</ul>

<div class="container">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = '<%= SITE[:disqus_shortname] %>';
    var disqus_identifier = '<%= "image_#{@image.id}" %>';
    var disqus_url = '<%= image_url(@image) %>';
    var disqus_developer = '<%= SITE[:disqus_developer] %>';
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
