<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Categories", categories_path %> <span class="divider">/</span></li>
  <li><%= link_to @image.category.title, category_path(@image.category) %> <span class="divider">/</span></li>
  <li class="active"><%= @image.title || 'Untitled' %></li>
<% end %>

<h1><%= @image.title %> <small>image</small></h1>

<li class="span4">
  <div class="thumbnail">
    <div class="caption">
      <h5><%= @image.title || 'Untitled' %></h5>
    </div>
    <%= link_to @image.asset.url do
          image_tag @image.asset_url_resolved(:span4)
    end %>
    <div class="caption">
      <p><%= truncate(h(@image.desc || 'No description'), {:length => 500, :separator => ' ', :omission => " ..."}) %></p>
    </div>
  </div>
</li>

