<% content_for(:title) { get_local_value(I18n.locale, {en: @image.title, ua: @image.title_ua}) } %>

<ul class="thumbnails">
  <li class="span12">
    <h2>
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_image_path(@image), class: 'btn btn-primary' %>
      <% end %>

      <%= get_local_value(I18n.locale, {en: @image.title, ua: @image.title_ua}) %>

      <% if user_signed_in? %>
        <%= check_title(@image) %>
      <% end %>

      <small class="pull-right"><%= get_local_value(I18n.locale, {en: @image.album.title, ua: @image.album.title_ua}) %></small>
    </h2>

    <div class="thumbnail">
      <%= image_tag(@image.asset.url(:big), alt: @image.id) %>
    </div>

    <div class="row">
      <p></p>
      <div class="span11">
        <p class="pull-left">
          <%= highlight_links(render_image_data(I18n.locale, @image)).html_safe %>
          <% if user_signed_in? %>
            <%= check_desc(@image) %>
          <% end %>

          <% unless @image.tags.empty? %>
            <br/>
            <% @image.tags.map(&:name).each do |tag| %>
              <%= link_to "<i class=\"icon-tag icon-white\"> </i> #{tag}".html_safe, root_path(q: {anything_like: tag}), class: 'label' %>
            <% end %>

            <% if user_signed_in? %>
              <%= check_tags(@image) %>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </li>
</ul>

<%= render 'home/contacts_block' %>

<%= render 'shared/disqus_comments', id: "image_#{@image.id}", url: image_url(@image) %>
