<h1><%= @image.title %> <small>image</small>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_image_path(@image), :class => 'btn btn-primary' %>
  <% end %>
</h1>

<div class="row">
  <div class="span8">
    <div class="caption">
      <%= @image.render_data %>
    </div>
    <div class="caption">
      <% unless @image.tags.empty? %>
      <p>
        <% @image.tags.each do |tag| %>
          <%= link_to "<i class=\"icon-tag icon-white\"> </i> #{tag}".html_safe, root_path(:q => {:title_or_desc_or_tags_cache_or_album_title_cont => tag}), :class => 'label' %>
        <% end %>
      </p>
      <% end %>
    </div>
  </div>
  <div class="span4">
    <p class="pull-right">
      <%= link_to "<i class=\"icon-user icon-white\"> </i> Comments".html_safe, "#discus_modal_#{@image.id}", :class => 'label', 'data-toggle' => 'modal' %>
    </p>
  </div>
</div>

<div class="thumbnail">
  <%= image_tag(@image.asset.url(:big)) %>
</div>