<h1><%= @image.title %> <small>image</small></h1>

<div class="caption">
  <p>
    <strong><%= @image.title? ? @image.title : 'Untitled' %></strong>
    <%= render_image_data(@image) %>
  </p>
</div>
<div class="thumbnail">
  <%= image_tag(@image.asset.url(:big)) %>
</div>

<%= link_to 'Edit', edit_image_path(@image), :class => 'btn btn-primary' %>