<div class="nav-collapse collapse">
  <ul class="nav pull-left">
    <li class="<%= current_page?(images_path) ? 'active' : '' %>">
      <%= link_to (I18n.t 'site.images_title'), images_path %>
    </li>
    <li class="<%= current_page?(new_image_path) ? 'active' : '' %>">
      <%= link_to (I18n.t 'site.new_image'), new_image_path, class: 'bnt-mini btn-primary' %>
    </li>
    <li class="divider-vertical"></li>
    <li class="<%= current_page?(albums_path) ? 'active' : '' %>">
      <%= link_to (I18n.t 'site.albums_title'), albums_path(q: {s: 'weight desc'}) %>
    </li>
    <li class="divider-vertical"></li>
    <li class="<%= (current_page?(settings_path) || @setting) ? 'active' : '' %>">
      <%= link_to (I18n.t 'site.settings_title'), settings_path %>
    </li>
    <li class="divider-vertical"></li>
    <li class="<%= current_page?(edit_user_registration_path) ? 'active' : '' %>">
      <%= link_to (I18n.t 'site.edit_account'), edit_user_registration_path %>
    </li>
    <li class="divider-vertical"></li>
    <li class="<%= current_page?(edit_user_registration_path) ? 'active' : '' %>">
      <%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %>
    </li>
  </ul>
</div>

