<%= link_to "Portfolio", root_path, :class => 'brand' %>
<div class="nav-collapse collapse">
  <ul class="nav pull-left">
    <li class="divider-vertical"></li>
    <% Album.includes([:images]).all.each do |album| %>
      <% if album.images.size > 0 %>
        <li class="<%= current_page?(album_path(album)) ? 'active' : '' %>">
          <%= link_to album.title, album_path(album) %>
        </li>
      <% end %>
    <% end %>
    <% if user_signed_in? %>
      <li class="divider-vertical"></li>
      <li class="<%= current_page?(images_path) ? 'active' : '' %>">
        <%= link_to('Images', images_path) %>
      </li>
      <li>
        <%= link_to 'New Image', new_image_path, :class => 'bnt-mini btn-primary' %>
      </li>
      <li class="divider-vertical"></li>
      <li class="<%= current_page?(albums_path) ? 'active' : '' %>">
        <%= link_to('Albums', albums_path) %>
      </li>
    <% end %>
    <li class="divider-vertical"></li>
    <li class="<%= current_page?(contacts_path) ? 'active' : '' %>">
      <%= link_to 'Contacts', contacts_path %>
    </li>
    <li class="divider-vertical"></li>
    <li>
      <%= link_to rss_feed_url do
        image_tag 'rss.png'
      end %>
    </li>
  </ul>

  <ul class="nav pull-right">
    <% if user_signed_in? %>
      <li class="divider-vertical"></li>
      <li>
        <%= link_to('Edit account', edit_user_registration_path) %>
      </li>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method => 'delete') %>
      </li>
    <% end %>
  </ul>

  <form class="navbar-search pull-right" method="get" action="/">
    <input type="text" class="input-medium search-query" placeholder="Search" name="q[title_or_desc_or_album_title_cont]" value="<%= params[:q][:title_or_desc_or_album_title_cont] if params[:q] %>">
  </form>
</div>