<%= link_to 'Portfolio', root_path, class: 'brand' %>
<div class="nav-collapse collapse">
  <ul class="nav pull-left">
    <% if get_setting('contact_text').present? %>
      <li class="<%= current_page?(contacts_path) ? 'active' : '' %>">
        <%= link_to 'Contacts', contacts_path %>
      </li>
      <li class="divider-vertical"></li>
    <% end %>
    <li class="<%= (current_page?(projects_path) || @project) ? 'active' : '' %>">
      <%= link_to 'Projects', projects_path %>
    </li>
    <li class="divider-vertical"></li>
    <% Album.published.includes([:images]).each do |album| %>
      <% if album.images.size > 0 %>
        <li class="<%= current_page?(album_path(album)) || (@image && @image.album == album) ? 'active' : '' %>">
          <%= link_to album.title, album_path(album) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="nav-collapse collapse">
  <ul class="nav pull-left">
    <li>
      <%= link_to rss_feed_url, target: '_blank' do
        image_tag 'rss.png'
      end %>
    </li>
    <% if get_setting('flickr_user_id').present? %>
      <li>
        <%= link_to "http://www.flickr.com/photos/#{get_setting('flickr_user_id')}/", target: '_blank' do
          image_tag 'flickr.png'
        end %>
      </li>
    <% end %>
    <% if get_setting('linkedin_account').present? %>
      <li>
        <%= link_to get_setting('linkedin_account'), target: '_blank' do
          image_tag 'linkedin.png'
        end %>
      </li>
    <% end %>
    <li>
      <form class="navbar-search pull-right" method="get" action="/">
        <label>
          <input type="text" class="input-medium search-query" placeholder="Search" name="q[<%= Image::DEFAULT_QUERY %>]" value="<%= params[:q][Image::DEFAULT_QUERY.to_sym] if params[:q] %>">
        </label>
      </form>
    </li>
  </ul>
</div>
