<%= link_to "Portfolio", root_path, :class => 'brand' %>
<ul class="nav">
  <li>
    <%= link_to 'Categories', categories_path %>
  </li>
  <li>
    <%= link_to 'Contacts', contacts_path %>
  </li>

  <% if user_signed_in? %>
    <li>
      <%= link_to('Images', images_path) %>
    </li>
  <% end %>

  <% if user_signed_in? %>
    <li>
      <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
  <% end %>

  <% if user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
    </li>
  <% else %>
    <li>
      <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
</ul>