<%= link_to "Portfolio", root_path, class: 'brand' %>
<div class="nav-collapse collapse">
  <ul class="nav pull-left">
    <% Album.includes([:images]).all.each do |album| %>
      <% if album.images.size > 0 %>
        <li class="<%= current_page?(album_path(album)) || (@image && @image.album == album) ? 'active' : '' %>">
          <%= link_to album.title, album_path(album) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<% if user_signed_in? %>
  <div class="nav-collapse collapse">
    <ul class="nav pull-left">
      <li>
        <%= link_to 'New Image', new_image_path, class: 'bnt-mini btn-primary' %>
      </li>
      <li class="<%= current_page?(images_path) ? 'active' : '' %>">
        <%= link_to('Images', images_path) %>
      </li>
      <li class="divider-vertical"></li>
      <li class="<%= current_page?(albums_path) ? 'active' : '' %>">
        <%= link_to('Albums', albums_path) %>
      </li>
      <li class="divider-vertical"></li>
      <li>
        <%= link_to('Edit account', edit_user_registration_path) %>
      </li>
    </ul>
  </div>
<% end %>

<div class="nav-collapse collapse">
  <ul class="nav pull-left">
    <li>
      <%= link_to rss_feed_url, target: '_blank' do
        image_tag 'rss.png'
      end %>
    </li>
    <% if SITE[:flickr_user_id].present? %>
      <li>
        <%= link_to "http://www.flickr.com/photos/#{SITE[:flickr_user_id]}/", target: '_blank' do
          image_tag 'flickr.png'
        end %>
      </li>
    <% end %>
    <% if SITE[:linkedin_account].present? %>
      <li>
        <%= link_to SITE[:linkedin_account], target: '_blank' do
          image_tag 'linkedin.png'
        end %>
      </li>
    <% end %>
    <li>
      <form class="navbar-search pull-right" method="get" action="/">
        <label>
          <input type="text" class="input-medium search-query" placeholder="Search" name="q[<%= Image::DEFAULT_QUERY %>]" value="<%= params[:q][Image::DEFAULT_QUERY.to_sym] if params[:q] %>">
        </label>
      </form>
    </li>
  </ul>
</div>
