<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : SITE[:title] %></title>
    <meta name="description" content="<%= SITE[:description] %>">
    <meta name="author" content="">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <%= auto_discovery_link_tag(:rss, rss_feed_url) %>
  </head>
  <body>
    <header class="navbar navbar-fixed">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div class="container master-container">
      <div class="content">
        <div class="row">
          <div class="span12">
            <% flash.each do |name, msg| %>
              <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
                <a class="close" data-dismiss="alert">×</a>
                <%= msg %>
              </div>
            <% end %>
            <%= yield %>
          </div>
        </div>
        <footer class="footer">
          <p class="pull-right"><a href="#" class="btn">Back to top</a></p>
          <p><%= sanitize SITE[:copy] %></p>
          <% unless user_signed_in? %>
            <p><%= link_to 'User sign in', new_user_session_path %></p>
          <% end %>
        </footer>
      </div>
    </div>
  <% if SITE[:google_analytics_account].present? %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= SITE[:google_analytics_account] %>']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
  </body>
</html>